{% extends 'blog/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
<div class="blog-posts">
    <h2>Recent Blog Posts</h2>
    
    {% if posts %}
        {% for post in posts %}
        <article class="post">
            <h3>{{ post.title }}</h3>
            <div class="post-meta">
                <span class="author">By {{ post.author.username }}</span>
                <span class="date">{{ post.published_date|date:"F d, Y" }}</span>
            </div>
            <div class="post-content">
                {{ post.content|truncatewords:50 }}
            </div>
        </article>
        {% endfor %}
    {% else %}
        <p>No blog posts available yet. Check back soon!</p>
    {% endif %}
</div>
{% endblock %}
